<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Double Up</title>
  {{ style('style') }}
  {{ style('bundles/app') }}
  {{ script('bundles/app') }}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle">
      
      <p>AdonisJs simplicity will make you feel confident about your code</p>
      <p>
        Don't know where to start? Read the <a href="https://adonisjs.com/docs">documentation</a>.
      </p>
      <h1 class="myrandomclasss">hello</h1>
      <button type="button" id="btnSubmit">hello</button>
      <canvas id="ctx" width="500" height="500" style="border:1px solid #000000;"></canvas>
      <script>
        var ctx = document.getElementById("ctx").getContext("2d");
    ctx.font = '30px Arial';

    var socket = io();
      </script>
    </div>
  </section>
</body>
</html>
